*{margin:0;padding:0; font-family:'Microsoft Yahei','Simsun';}
body{margin-top:0px;margin-left:0px;font-size:12px;background:#efefef;}
#menu{margin:0 auto;width:96%;overflow:hidden;line-height:25px;}
.bmenu{background:#f5f5f5; height:21px; line-height:21px; color:#333; padding:1px; border-bottom:1px solid #d5d5d5; border-top:1px solid #d5d5d5; padding-left:3px; margin-top:5px;margin-bottom:5px}
ul,li{list-style-type:none;}
.haha{border-bottom:1px solid #ccc; background:#fff;border-top:1px solid #ccc; border-right:1px solid #ccc; border-left:1px solid #ccc;margin-bottom:8px;padding-left:10px;padding-right:10px;padding-top:5px;padding-bottom:5px;color:#444;}
a.ca:link{ text-decoration:none; color:#0782D5;font-family:"풕턼환쥌";}
a.ca:visited{ text-decoration:none; color:#0782D5;font-family:"풕턼환쥌";}
a:link{ text-decoration:none; color:#0782D5;font-family:"풕턼환쥌";}
a:visited{ text-decoration:none; color:#0782D5;font-family:"풕턼환쥌";}
h3{margin-bottom:3px;text-align:left;}
h1{margin-bottom:3px;text-align:center;font-size:18px;}
img{border:none;}
.b1 li{WIDTH: 100%;margin-bottom:4px;}
#pages {width:100%; margin:6px auto;clear:both;text-align:center;}
#pages a { padding:1px 50px 1px; border:1px solid #B9DFF9; text-align:center; color:#077ac7;}
#pages a:hover{ background:#077ac7; color:#fff;}
.header{margin-top:5px;text-align:center;}
.listnav{ clear:both; overflow:hidden; *zoom:1; padding:0px 0px 0;}
.listnav li{ float:left; background:#fff; width:66px; height:20px; line-height:20px; text-align:center; font-size:14px; border:1px solid #c8d2e9;-webkit-border-radius:3px;border-radius:3px; margin:2px; font-size:14px}
.listnav li a{ color:#6b6b6b;}
.tool{ clear:both;overflow:hidden;*zoom:1; padding:0 0px 0px;*border-bottom:1px dashed #d0d9ed;padding-top:2px; }
.tool li{ float:left;width:66px; display:inline; padding:0 5px 1px; color:#6b6b6b; font-size:12px; text-align:center; line-height:150%}
.tool li span{ display:inline; *zoom:1; display:inline-block; border:0px solid #9cc1ec;  width:65px; height:59px; line-height:59px;}
.tips{ clear:both;overflow:hidden;color:#fff; height:28px; line-height:28px; text-align:center; font-size:14px}
.tipsbg_1{ background:#cccccc; }
.tipsbg_2{ background:#b8b8b8; }
.date{float:right; color:#ccc; font-family:Arial, Helvetica, sans-serif; font-size:11px; margin-right:8px;}