@{
    ViewBag.Title = "发表记录";
    Layout = "~/Views/Shared/_BaseUserLayoutPage.cshtml";
}

@section headersection{
    <style type="text/css">
        .postlist {
            width: 700px;
        }
    </style>
    <script type="text/javascript">
        function search(p) {
            $.ajax({
                url:'/user/jokelist',
                type: 'post',
                dateType:'json',
                data:{page:p},
                success: function (d) {
                    $("#searchresult").html(d);
                }
            });
        }

        $(document).ready(function () {
            search(1);
        });
    </script>
}
@model PageSearchResult<JokePostInfo>
@using Joke.Model.ViewModel
@using Joke.Model.Domain
@using Joke.Web.Helpers

<h2>我发布的笑话</h2>
<div id="searchresult">
   
</div>




