
@{
    ViewBag.Title = "友情链接";
    Layout = "~/Views/Shared/_BaseAdminLayoutPage.cshtml";
}
@section header{
  <script type="text/javascript">
      function search(p) {
          $.ajax({
              url: '/account/linkresult',
              type: 'post',
              dateType: 'json',
              data: { page: p },
              success: function (d) {
                  $("#searchresult").html(d);
              }
          });
      }

      $(document).ready(function () {
          search(1);
      });

      function deletelink(id) {

      }
    </script>    
}
<h2>友情链接管理</h2>
<a target="_parent" href="/account/linkedit">添加友情链接</a>

<div id="searchresult"></div>

