@{
    ViewBag.Title = "用户管理";
    Layout = "~/Views/Shared/_BaseAdminLayoutPage.cshtml";
}
@section header{
    <script type="text/javascript">
        function updateUsers(uid,state) {
            if(confirm(state=="1"?"确认解锁该用户?":"确认拖黑该用户"))
            {
                $.post('/account/UpdateUserState',{uid:uid,state:state},function(data){
                    if(data.Success){
                        alert('操作成功');
                    }
                });
            }
            
        }

        function search(p) {
            $.ajax({
                url:'/account/usersearchlist',
                type: 'post',
                dateType:'json',
                data:{page:p},
                success: function (d) {
                    $("#searchresult").html(d);
                }
            });
        }

        $(document).ready(function () {
            search(1);
        });
        
        function deleteUser(uid){
            if(confirm("确认删除该用户"))
            {
                $.post('/account/DeleteUser',{uid:uid},function(data){
                    if(data.Success){
                        alert('操作成功');
                    }
                    else
                    {
                        alert(data.Message);

                    }
                });
            }
        }
    </script>
}
<h2>用户管理</h2>

<div id="searchresult"></div>
