<div class="wrapper friend-links" style="margin-bottom:5px;">
    
    <p class="friend">
        备案号:鲁ICP备14036577号-2
        <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cspan id='cnzz_stat_icon_1255372488'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/stat.php%3Fid%3D1255372488' type='text/javascript'%3E%3C/script%3E"));</script>
        <a href="#">源码下载</a>
    </p>
</div>