<div class="wrapper friend-links">
    <div class="links-header">
        <h3>友情链接</h3>
    </div>
    <p class="friend">
        <a target="_blank" href="http://www.zjkz78.com">卓家客栈</a>
    </p>
</div>