<div class="wrapper friend-links">
    <div class="links-header">
        <h3>友情链接</h3>
    </div>
    <p class="friend">
        <a target="_blank" href="http://www.zjkz78.com" title="卓家客栈">卓家客栈</a>
        <a target="_blank" href="http://www.superjokes.cn" title="超级冷笑话">超级冷笑话</a>
        <a target="_blank" href="http://m.superjokes.cn" title="超级冷笑话Wap版">超级冷笑话Wap版</a>
        <a target="_blank" href="https://github.com/binlyzhuo/superjokes" title="超级冷笑话github开源地址">超级冷笑话开源地址</a>
        <a target="_blank" href="http://www.jd.com" title="京东链接地址">京东链接地址</a>
        <a href="http://www.bitauto.com/" target="_blank">易车网</a>
        <a href="http://www.fillseo.com" target="_blank" />SEO综合查询</a>
    </p>
</div>