@using Joke.BusinessLogic
@using Joke.Model.Domain
@model List<T_FriendLink>
<div class="wrapper friend-links">
    <div class="links-header">
        <h3>友情链接</h3>
    </div>
    <p class="friend">
       
        @foreach (var l in Model)
        {
            <a href="@l.LinkUrl" title="@l.Name" target="_blank">@l.Name</a>
        }
    </p>
</div>