<div class="navbox clearfix">
    <ul class="nav">
        <li><a href="/">笑话首页</a></li>
        <li><a href="/latest" target="_parent" title="最新笑话">最新笑话</a></li>
        <li><a href="/lengxiaohua" target="_parent" title="冷笑话">冷笑话</a></li>
        <li><a href="/images" target="_parent" title="搞笑趣图">搞笑趣图</a></li>
        <li><a href="/joke/postjoke" target="_parent" rel="nofollow">上传笑话</a></li>
        <li><a href="/article/post" target="_parent" rel="nofollow">发表热文</a></li>
    </ul>

</div>