@model List<CategoryDto>
@using Joke.Model.Dto
@using SuperJokes.Mobile.Helpers

<ul class='listnav'>
    <li><a href="/home/index" target="_parent" title="@string.Format("{0}冷笑话，超级冷笑话", "最新")">最新</a></li>
    @foreach (var g in Model.GetRange(0,11))
    {
        <li>
            <a title="@string.Format("{0}笑话，超级冷笑话",g.Name)" href="@SuperJokeHelper.GetCategoryJokes(g.PinYin)" target="_parent">@g.Name</a>
        </li>
    }
</ul>