@{
    Layout = "~/Views/Shared/_BaseLayoutPage.cshtml";
}
@model List<Joke.Model.Domain.T_Joke>

    <div id="menu">
        <div class="header">
            <img alt="中文幽默王" src="~/Images/mobile_logo.png" />
        </div>
        <ul class='listnav'>
            <li>
                <a href="#">最新</a>
            </li>
            <li>
                <a href="#">冷笑话</a>
            </li>
            <li>
                <a href="#">爆笑</a>
            </li>

        </ul>
        @foreach (var m in Model)
        {
            <div class="haha">

                <h3><a href="#">@m.Title</a></h3>
                @Html.Raw(m.Content)
            </div>
        }
        
        
        <p id="pages"><a href="#">段子下→页</a></p>

    </div>

    <div id="menu">

    </div>



