@{
    Layout = "~/Views/Shared/_BaseLayoutPage.cshtml";

    List<CategoryDto> categorylist = ViewBag.Category;
}
@model List<Joke.Model.Domain.T_Joke>
@using Joke.Model.Dto

@foreach (var m in Model)
{
    <div class="haha">

        <h3><a href="/home/JokeDetail?jokeid=@m.ID" target="_parent">@m.Title</a></h3>
        @Html.Raw(m.Content)
    </div>
}
<p id="pages"><a href="#">段子下→页</a></p>


