
@{
    ViewBag.Title = "关于超级冷笑话";
    Layout = "~/Views/Shared/_BaseLayoutPage.cshtml";
}
<div class="wrapper aboutme" style="min-height:300px;">
    <h2>关于超级冷笑话</h2>
    <p>超级冷笑话源码下载：http://www.51aspx.com/code/codename/44183 </p>
    <p>超级冷笑话Github地址：https://github.com/binlyzhuo/superjokes </p>
    <p>本人博客:<a href="http://www.yylvw.com//" target="_blank" title="卓家客栈博客">卓家客栈博客</a></p>
    <p>卓家客栈源码演示地址:http://www.zjkz78.com/ </p>
    <p>卓家客栈源码下载:http://www.51aspx.com/Code/GK1234ZhuoInnTravelSites </p>
    <p>作者QQ:376918240</p>
    <p>联系站长：<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=376918240&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:376918240:51" alt="联系我" title="联系我" /></a></p>
</div>

