
@{
    ViewBag.Title = "关于本站";
    Layout = "~/Views/Shared/_BaseLayoutPage.cshtml";
}
<div class="wrapper" style="min-height:300px;">
    <h2>关于本站</h2>
    <p>超级冷笑话源码下载：http://www.51aspx.com/code/codename/44183 </p>
    <p>联系作者:376918240#qq.com</p>
</div>

