
@{
    ViewBag.Title = "关于超级冷笑话";
    Layout = "~/Views/Shared/_BaseLayoutPage.cshtml";
}
<div class="wrapper" style="min-height:300px;">
    <h2>关于超级冷笑话</h2>
    <p>超级冷笑话源码下载：http://www.51aspx.com/code/codename/44183 </p>
    <p>联系作者:376918240#qq.com</p>
    <p>本人博客:<a href="http://blog.zjkz78.com/" target="_blank" title="卓家客栈博客">卓家客栈博客</a></p>
</div>

