@model List<CategoryDto>
@using Joke.Model.Dto
@using Joke.Web.Helpers
<div class="filter">
    <div class="filter-links clearfix">
        <a href="/new/">全部</a>
        @foreach (var s in Model)
        {
            <a title="@string.Format("{0}笑话",s.Name)" href="@JokeHelper.GetCategoryJokes(s.PinYin)">@s.Name</a>
        }
    </div>
</div>