@model List<CategoryDto>
@using Joke.Model.Dto
@using Joke.Web.Helpers
<div class="filter">
    <div class="filter-links clearfix">
        <a href="/">全部</a>
        @foreach (var s in Model)
        {
            <h2 class="joketitle">
                <a title="@string.Format("{0}笑话,超级冷笑话",s.Name)" target="_self" href="@JokeHelper.GetCategoryJokes(s.PinYin)">@s.Name</a>
            </h2>
        }
    </div>
</div>