@model List<CategorySummaryInfo>
@using Joke.Model.ViewModel
@using Joke.Web.Helpers
<div class="section classification-section">
    <div class="section-header">
        <h2>笑话分类</h2>
    </div>
    <ul class="news-list classification-nav clearfix">

        @foreach (var s in Model)
        {
            <li>
                <h2 class="joketitle">
                    <a title="@string.Format("{0}笑话",s.CategoryName)" href="@JokeHelper.GetCategoryJokes(s.PinYin)" target="_self">@s.CategoryName<em>(@s.JokeCount)</em></a>
                </h2>
            </li>
        }
    </ul>

</div>