@{
    ViewBag.Title = "页面出错了";
    Layout = "~/Views/Shared/_BaseLayoutPage.cshtml";
}

<div class="wrapper clearfix" style="height:350px;">
    <div class="pageerror">页面出错了</div>
    <div>
        <img src="~/Imgs/errorimg.gif" />
    </div>
</div>

