@{
    ViewBag.Title = "页面出错了";
    Layout = "~/Views/Shared/_BaseLayoutPage.cshtml";
}

<div class="wrapper clearfix" style="height:400px; text-align:center;padding:10px;">
    <div>
        <img src="~/Imgs/error404.jpg" />
    </div>
</div>
