@model JokeCategoryJokesModel
@using Joke.Model.ViewModel

<div class="section">
    <div class="section-header">
        <h2 class="section-title">@Model.CategoryName</h2>
    </div>
    <ul class="news-list video-list">
        <li>
            <span class="time">13日</span>
            <a href="/detail45/44825.html" title="方法总比困难多" target="_blank">方法总比困难多</a>
        </li>
        <li>
            <span class="time">05日</span>
            <a href="/detail45/44506.html" title="冷笑话" target="_blank">冷笑话</a>
        </li>
        <li>
            <span class="time">27日</span>
            <a href="/detail45/44454.html" title="生孩子" target="_blank">生孩子</a>
        </li>
        <li>
            <span class="time">22日</span>
            <a href="/detail45/44236.html" title="神经病患者在写信" target="_blank">神经病患者在写信</a>
        </li>
        <li>
            <span class="time">28日</span>
            <a href="/detail44/43651.html" title="世博园的酒店" target="_blank">世博园的酒店</a>
        </li>
        <li>
            <span class="time">04日</span>
            <a href="/detail44/43265.html" title="美女问我是否要套" target="_blank">美女问我是否要套</a>
        </li>
        <li>
            <span class="time">04日</span>
            <a href="/detail44/43263.html" title="考试" target="_blank">考试</a>
        </li>
        <li>
            <span class="time">04日</span>
            <a href="/detail44/43262.html" title="你知道老子是谁吗？" target="_blank">你知道老子是谁吗？</a>
        </li>
        <li>
            <span class="time">31日</span>
            <a href="/detail44/43205.html" title="元芳体爆红:元芳,你怎么看" target="_blank">元芳体爆红:元芳,你怎么看</a>
        </li>
        <li>
            <span class="time">28日</span>
            <a href="/detail43/42865.html" title="相亲的价值" target="_blank">相亲的价值</a>
        </li>
    </ul><div class="more-link"><a class="more" href="/lengxiaohua/" target="_blank">共1394条冷笑话»</a></div>
</div>