@{
    ViewBag.BgClass = "indexPage-body";
    Layout = "~/Views/Shared/_BaseLayoutPage.cshtml";

}
@using Joke.Web.Auth
@section header{
    <script type="text/javascript" src="~/Scripts/jquery.lazyload.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("img.lazyloading").lazyload();
        });
    </script>
}
<div class="wrapper clearfix">
    <!-- main -->
    <div class="main">
        <!-- section -->
        @Html.Action("CategorySummary", "Home", null)
        <!-- //section -->
        <!-- new-panel -->
        @Html.Action("LatestJokes", "Home", null)
        <!-- //new-panel -->
    </div>
    <!-- //main -->
    <!-- aside -->
    <div class="aside">
        @Html.Partial("WeiXin")
        <!-- section -->
        @Html.Action("LikeMostJokes", "Home", null)
        <!-- //section -->
    </div>
    <!-- //aside -->
</div>



@*@Html.Action("JokeImgList")*@

<div class="wrapper section-lists">
    <!-- list-inner -->
    <div class="list-inner clearfix">
        <!-- section -->
        @{Html.RenderAction("HotCategoryJokes", new { categoryId = 1 });}
        @{Html.RenderAction("HotCategoryJokes", new { categoryId = 2 });}
        @{Html.RenderAction("HotCategoryJokes", new { categoryId = 3 });}
        @{Html.RenderAction("HotCategoryJokes", new { categoryId = 4 });}
        @{Html.RenderAction("HotCategoryJokes", new { categoryId = 5 });}
        @{Html.RenderAction("HotCategoryJokes", new { categoryId = 6 });}
        @{Html.RenderAction("HotCategoryJokes", new { categoryId = 7 });}
        @{Html.RenderAction("HotCategoryJokes", new { categoryId = 8 });}
        @{Html.RenderAction("HotCategoryJokes", new { categoryId = 9 });}

        <!-- section -->
    </div>
    <!-- list-inner-->
</div>