
@{
    ViewBag.Title = "用户注册";
    Layout = "~/Views/Shared/_BaseLayoutPage.cshtml";
    List<string> msgList= ViewBag.MsgList;
}
@section header{
    
    <script type="text/javascript" src="~/Scripts/jquery.form.js"></script>
    <style type="text/css">
        
    </style>
    <script type="text/javascript">
        function userRegister() {
            var userName = $("#txtUserName").val();
            var email = $("#txtEmail").val();
            var password = $("#txtPassword").val();
            var confirmPassword = $("#txtPasswordConfirm").val();
            var verifyCode = $("#txtVerifyCode").val();

            if ($.trim(userName) == "") {
                $("#msgUserName").css('color', 'red');
                return false;
            }

            if ($.trim(email) == "") {
                $("#msgEmail").html('请输入合法的email').css('color', 'red');
                return false;
            }

            var emailRegex = re = /^(\w-*\.*)+@@(\w-?)+(\.\w{2,})+$/;
            if (!emailRegex.test(email)) {
                alert("邮箱格式不正确!");
                return;
            }

            if ($.trim(password) == "") {
                $("#msgPassword").css("color", "red").html('请输入密码');
                return false;
            }
            if ($.trim(confirmPassword) == "")
            {
                $("#msgPasswordConfirm").css("color", "red").html('请输入确认密码');
                return false;
            }
            if ($.trim(verifyCode) == "") {
                $("#msgVerifyCode").css("color", "red").html("请输入验证码");
                return false;
            }


            $("#userRegisterForm").submit();
        }
    </script>
}

<div class="regdiv wrapper" style="width:500px;height:300px;margin-top:20px;">
    <form method="post" action="register" id="userRegisterForm">
        <table id="registerTable">
            <tr>
                <td></td>
                <td colspan="2">
                    @if (msgList != null && msgList.Count > 0)
                    {
                        <ul class="errorlist">
                            @foreach (var m in msgList)
                            {
                                <li>@m</li>
                            }
                        </ul>
                    }
                </td>

            </tr>
            <tr>
                <td></td>
                <td colspan="2" align="left" style="font-size:15px;">用户注册</td>

            </tr>
            <tr>
                <td class="title">用户名：</td>
                <td>
                    <input type="text" id="txtUserName" name="UserName" class="text-form" />
                    <span class="mustinput">*</span>
                    <span id="msgUserName" class="txt">建议在个20字符以内</span>
                </td>
                <td>
                    
                </td>
            </tr>
            <tr>
                <td class="title">邮箱：</td>
                <td>
                    <input type="text" id="txtEmail" name="Email" class="text-form" />
                    <span class="mustinput">*</span>
                    <span id="msgEmail"></span>
                </td>
                <td>
                    
                </td>
            </tr>
            <tr>
                <td class="title">密码：</td>
                <td>
                    <input type="password" id="txtPassword" name="Password" class="text-form" />
                    <span class="mustinput">*</span>
                    <span id="msgPassword"></span>
                </td>
                <td>
                    
                </td>
            </tr>
            <tr>
                <td class="title">确认密码：</td>
                <td>
                    <input type="password" id="txtPasswordConfirm" name="RepeatPwd" class="text-form" />
                    <span class="mustinput">*</span>
                    <span id="msgPasswordConfirm"></span>
                </td>
                <td>
                    
                </td>
            </tr>
            <tr>
                <td class="title">验证码：</td>
                <td>
                    <input type="text" class="text-form" id="txtVerifyCode" name="VerifyCode" style="width:120px;" />
                    <div style="line-height:10px; float:right;margin-right:7px;width:260px;">
                        <img id="valiCode" style="cursor: pointer;" src="/Home/GetVerifyCode" alt="验证码" onclick="javascript: $('#valiCode').attr('src', '/Home/GetVerifyCode?t=' + Math.random());" />
                        <div style="float:right;margin-right: 47px;line-height: 25px;width:150px;">
                            <span class="mustinput">*</span>
                            <span id="msgVerifyCode"></span>
                        </div>
                    </div>
                </td>
                <td>
                    
                </td>
            </tr>
            <tr>
                <td></td>
                <td colspan="2" align="left">
                    <input type="button" value="注册" style="width:100px;height:30px;" onclick="userRegister();" />
                    <input type="button" value="登录" style="width:100px;height:30px;" onclick="javascript: window.location.href = '/home/login';" />
                </td>
            </tr>
        </table>
    </form>
</div>

