@model Joke.Web.Models.GetPasswordModel
@{
    ViewBag.Title = "重置密码";
    Layout = "~/Views/Shared/_BaseLayoutPage.cshtml";
    bool checkResult = ViewBag.CheckResult;
}
@section header{
   <script type="text/javascript">
       function resetpwd() {
           var guid = $("#guid").val();
           var password = $("#txtpassword").val();
           var configpwd = $("#txtConfirm").val();

           if ($.trim(guid)=="" || $.trim(password)=="" || $.trim(configpwd)=="" || (password != configpwd)) {
               alert("输入状态不正确！");
               return;
           }

           $.post('/home/resetpwd', { guid: guid, password: password, configpwd: configpwd }, function (d) {
               alert(d.Message);
               if (d.Success) {
                   window.location.href = "/home/login";
               }
               else
               {
                   window.location.href = "/home/getpwd";
               }
           });
       }
    </script>    
}
<div class="regdiv wrapper" style="width:500px;height:300px;margin-top:20px;">
    @if (checkResult)
    {
        <table id="registerTable">
            <tr>
                <td></td>
                <td colspan="2">
                    @Html.Hidden("guid",Model.Guid)
                </td>

            </tr>
            <tr>
                <td></td>
                <td colspan="2" align="left" style="font-size:15px;font-weight:bold;">重置密码:</td>

            </tr>
            <tr>
                <td class="title">新密码：</td>
                <td>
                    <input type="password" id="txtpassword" name="password" class="text-form" />
                    <span class="mustinput">*</span>
                </td>
                <td>
                    <span id="msgPassword"></span>
                </td>
            </tr>
            <tr>
                <td class="title">密码确认：</td>
                <td>
                    <input type="password" id="txtConfirm" name="pwdconfirm" class="text-form" />
                    <span class="mustinput">*</span>
                </td>
                <td>
                    <span id="msgpwdconfirm"></span>
                </td>
            </tr>
            <tr>
                <td></td>
                <td colspan="2" align="left">
                    <input type="button" value="提交修改" id="btnSend" onclick="resetpwd();" style="width:100px;height:30px;" />

                </td>
            </tr>

        </table>
    }
    else
    {
        <div>修改状态不正确！</div>
    }
</div>
