<div class="section">
    
    <div style="height:116px;">
        <div style="float:left;padding:5px;width:102px;">
            <img src="~/Imgs/m_suoerjokes_cn.png" alt="超级冷笑话手机版" width="100" height="100" style="border:0;" />
        </div>
        <div style="float:left;width:145px;padding:5px;">
            <p style="font-weight:bold;font-size:15px;color:#f60;">扫二维码看笑话</p>
            <p>手机浏览器中输入:<br /><a target="_blank" title="超级冷笑话手机版" style="color:#f60;" href="http://m.superjokes.cn">m.superjokes.cn</a></p>
        </div>
    </div>
</div>