<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="elmah.mvc.disableHandler" value="false" />
  <add key="elmah.mvc.disableHandleErrorFilter" value="false" />
  <add key="elmah.mvc.requiresAuthentication" value="false" />
  <add key="elmah.mvc.IgnoreDefaultRoute" value="false" />
  <add key="elmah.mvc.allowedRoles" value="*" />
  <add key="elmah.mvc.allowedUsers" value="*" />
  <add key="elmah.mvc.route" value="elmah" />
  <add key="JokeImgUpload" value="/Upload" />
  <add key="SiteTitle" value="冷笑话_超级冷笑话_冷笑话大全_十万个冷笑话_糗事百科_笑话大全_冷笑话精选_内涵笑话" />
  <add key="SiteKeyWords" value="冷笑话，超级冷笑话，冷笑话大全，十万个冷笑话，糗事百科，成人笑话，极品笑话，笑话大全，内涵笑话，不作死就不会死，十万个冷笑话、爆笑笑话，程序员笑话，糗事百科，冷笑话精选" />
  <add key="SiteDescription" value="冷笑话大全，成人笑话大全，极品笑话大全，最新冷笑话，笑死人不偿命，哈哈，好冷！" />
  <add key="USER_AGENT" value="qiniu csharp-sdk v6.0.0" />
  <add key="ACCESS_KEY" value="ugPb222J2XuH0422aw3wm18BgaZAwIwkHtHSajV4" />
  <add key="SECRET_KEY" value="2fNqzAsHThpE9vK7e2xM_dcMOdjNoZdEu0CfxcVS" />
  <add key="RS_HOST" value="http://rs.Qbox.me" />
  <add key="UP_HOST" value="http://up.qiniu.com" />
  <add key="RSF_HOST" value="http://rsf.Qbox.me" />
  <add key="PREFETCH_HOST" value="http://iovip.qbox.me" />
  <add key="QiniuBucket" value="superjokes"/>
  <add key="QiniuCloudUrl" value="http://jokeimg.zjkz78.com"/>
  <add key="IsQiniuUpload" value="1"/>
  <add key="IsEnableComment" value="1"/>
</appSettings>