<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="elmah.mvc.disableHandler" value="false" />
  <add key="elmah.mvc.disableHandleErrorFilter" value="false" />
  <add key="elmah.mvc.requiresAuthentication" value="false" />
  <add key="elmah.mvc.IgnoreDefaultRoute" value="false" />
  <add key="elmah.mvc.allowedRoles" value="*" />
  <add key="elmah.mvc.allowedUsers" value="*" />
  <add key="elmah.mvc.route" value="elmah" />
  <add key="JokeImgUpload" value="/Upload" />
  <add key="SiteTitle" value="超级冷笑话_冷笑话大全_冷笑话精选_超级冷笑话代码下载" />
  <add key="SiteKeyWords" value="冷笑话，超级冷笑话，冷笑话大全，内涵笑话、爆笑笑话，程序员笑话，超级冷笑话代码下载" />
  <add key="SiteDescription" value="超级冷笑话大全、降温利器、笑死人不负责！！" />
  <add key="USER_AGENT" value="qiniu csharp-sdk v6.0.0" />
  <add key="ACCESS_KEY" value="ugPb222J2XuH0422aw3wm18BgaZAwIwkHtHSajV4" />
  <add key="SECRET_KEY" value="2fNqzAsHThpE9vK7e2xM_dcMOdjNoZdEu0CfxcVS" />
  <add key="RS_HOST" value="http://rs.Qbox.me" />
  <add key="UP_HOST" value="http://up.qiniu.com" />
  <add key="RSF_HOST" value="http://rsf.Qbox.me" />
  <add key="PREFETCH_HOST" value="http://iovip.qbox.me" />
  <add key="QiniuBucket" value="superjokes"/>
  <add key="QiniuCloudUrl" value="http://jokeimg.zjkz78.com"/>
  <add key="IsQiniuUpload" value="1"/>
  <add key="IsEnableComment" value="1"/>
  <add key="HotCategories" value="1,2,3,4"/>
  <add key="SendCloudSK" value="XueQ6S20K8v4BTdg"/>
  <add key="IsSendEmail" value="1"/>
</appSettings>