@using System.Web.Optimization
@{
    ViewBag.Title = "PostArticle";
    Layout = "~/Views/Shared/_BaseLayoutPage.cshtml";
}
@section header{
   @Styles.Render("~/bundles/umeditortheme")
   @Scripts.Render("~/bundles/umeditor")

}
<h2>PostArticle</h2>

