@{
    Layout = "~/Views/Shared/_BaseLayoutPage.cshtml";
}
@model PostJokeResult
@using Joke.Web.Models
<div class="wrapper" style="height:300px; text-align:center;padding-top:20px; ">
    <h2>@Model.Message</h2>
</div>
