<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <connectionStrings>
    <add name="SuperJokes" connectionString="server=.;uid=sa;pwd=123qwe!@#;database=Joke" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="UserID" value="1"/>
    <add key="Category" value="0"/>
    <add key="ImgDownload" value="d:\img"/>
  </appSettings>
</configuration>